ul.nav__list.nav__list--left
  li.nav__item
    a.nav__link([routerLink]="['']") Home
  li.nav__item
    a.nav__link([routerLink]="['demo']") Demo
  li.nav__item
    a.nav__link([routerLink]="['about']") About

ul.nav__list.nav__list--right
  li.nav__item(dropdown)
    button.nav__link.nav__link--icon-only(dropdown-toggle) #[i.icon--account-circle]
    ul.nav__list
      li.nav__item
        a.nav__link([routerLink]="['login']") #[i.icon--person] Login
      li.nav__item
        a.nav__link([routerLink]="['register']") #[i.icon--person-add] Register
