@require 'css-reset-and-normalize/stylus/flavored-reset-and-normalize'
@require 'config'

html
  font-size: $root-font-size

body
  background: $colors.background
  color: $colors.text
  font-family: $font-family.sans
  text-rendering: optimizeLegibility

a
  text-decoration: none

a,
button
  outline: none
