header.site-header
  nav.site-nav
    ul.site-nav__list
      li.site-nav__list-item
        a.site-nav__link([routerLink]="['']") Home
      li.site-nav__list-item
        a.site-nav__link([routerLink]="['about']") About
main.site-main
  router-outlet
