/**
 * Momentum scroll
 */

momentum()
  overflow: scroll
  -webkit-overflow-scrolling: touch

momentum--vertical()
  overflow-x: scroll
  -webkit-overflow-scrolling: touch

momentum--horizontal()
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
