.logo
  a.logo__link([routerLink]="['']")

ul.main-nav.main-nav--left
  li.main-nav__item
    a.main-nav__link([routerLink]="['']") Home
  li.main-nav__item
    a.main-nav__link([routerLink]="['about']") About

ul.main-nav.main-nav--right()
  li.main-nav__item.main-nav__item--icon(dropdown)
    button.main-nav__link(dropdown-toggle) #[i.icon--account-circle]
    ul.main-subnav
      li.main-subnav__item
        a.main-subnav__link([routerLink]="['login']") #[i.icon--person] Login
      li.main-subnav__item
        a.main-subnav__link([routerLink]="['register']") #[i.icon--person-add] Register
