$iconCollection = {
  add: '\e145',
  remove: '\e15b',
  navigate-before: '\e408',
  navigate-next: '\e409',
  arrow-back: '\e5c4',
  arrow-drop-down: '\e5c5',
  arrow-drop-up: '\e5c7',
  arrow-forward: '\e5c8',
  check: '\e5ca',
  close: '\e5cd',
  expand-less: '\e5ce',
  expand-more: '\e5cf',
  more-horiz: '\e5d3',
  more-vert: '\e5d4',
  person: '\e7fd',
  person-add: '\e7fe',
  account-box: '\e851',
  account-circle: '\e853'
}

@font-face
  font-family: 'icons'
  src: url('/assets/fonts/icons/icons.woff') format('woff'),
    url('/assets/fonts/icons/icons.ttf') format('truetype'),
    url('/assets/fonts/icons/icons.svg#icons') format('svg')
  font-weight: normal
  font-style: normal

$icon-container,
[class^="icon--"],
[class*=" icon--"]
  font-family: 'icons' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

for $key, $code in $iconCollection
  $icon--{key},
  .icon--{$key}::before
    content: $code
